body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.logo {
    width: 50px;
    height: auto;
    vertical-align: middle;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

.carousel {
    margin-top: 35px;
}

@media (max-width: 600px) {
    nav ul {
        text-align: center;
    }
    nav ul li {
        display: block;
        margin: 5px 0;
    }
}

#searchResults {
    position: block;
    width: 100%;
    z-index: 1000;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
