{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="jumbotron mt-4">
    <h1 class="display-4">Bienvenido, {{ user.username }}</h1>
    <p class="lead">Explora nuestros paquetes turísticos y gestiona tus boletas fácilmente.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="{% url 'listado_paquetes' %}" role="button">Ver Paquetes</a>
    <a class="btn btn-secondary btn-lg" href="{% url 'listado_boletas' %}" role="button">Mis Boletas</a>
</div>
{% endblock %}
